<md-content layout="row" layout-align="center center">
  <section class="error-section">
    <h1>404 Not Found</h1>
    <md-button aria-label="Go to Catalog" class="md-primary" ng-href="/catalog">
      Go to Catalog
    </md-button>
  </section>
</md-content>