<md-content layout="row" layout-align="center center">
  <section class="error-section">
    <h1>Sorry, our services are not available</h1>
    <h2>Please, try again</h2>
    <md-button aria-label="Go to Catalog" class="md-primary" ng-href="/catalog">
      Go to Catalog
    </md-button>
  </section>
</md-content>