<md-content flex layout-padding ng-cloak>
  <div layout="column" layout-gt-sm="row">
    <div flex="none">
      <img ng-src="{{ book.getResourceUrl(book.item.cover) }}" rr-fall-back/>
    </div>
    <md-list flex="40">
      <md-list-item>
        <div class="md-list-item-text">
          <h3>Title</h3>
          <p>{{ book.item.title.default }}</p>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text">
          <h3>Description</h3>
          <p>{{ book.item.description.default }}</p>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text">
          <md-button class="md-raised md-primary" ng-repeat="bundle in book.bundles" ng-href="{{ book.getResourceUrl(bundle.resourceId) }}" target="_blank">
            <md-icon class="material-icons">cloud_download</md-icon>
            <span>&nbsp;Version&nbsp;{{ bundle.version }}</span>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
    <md-list flex="40">
      <md-list-item>
        <div class="md-list-item-text">
          <h3>Authors</h3>
          <p>{{ book.item.options.authors }}</p>
        </div>
      </md-list-item>
      <md-list-item ng-if="book.item.options.Publisher">
        <div class="md-list-item-text">
          <h3>Publisher</h3>
          <p>{{ book.item.options.Publisher }}</p>
        </div>
      </md-list-item>
      <md-list-item ng-if="book.item.options.ISBN">
        <div class="md-list-item-text">
          <h3>ISBN</h3>
          <p>{{ book.item.options.ISBN }}</p>
        </div>
      </md-list-item>
      <md-list-item ng-if="book.item.platformSupport.length">
        <div class="md-list-item-text">
          <h3>Supported Platforms</h3>
          <md-chips ng-model="book.item.platformSupport" readonly="true" md-removable="false"></md-chips>
        </div>
      </md-list-item>
      <md-list-item ng-if="book.item.tags.length">
        <div class="md-list-item-text">
          <h3>Tags</h3>
          <md-chips ng-model="book.item.tags" readonly="true" md-removable="false"></md-chips>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>