<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Catalog" ng-href="/catalog">
      <md-icon class="material-icons">arrow_back</md-icon>
      <span>Catalog</span>
    </md-button>
    <span flex></span>
    <h1><span>{{ book.item.title.default }}</span></h1>
    <span flex></span>
  </div>
</md-toolbar>