<md-content flex layout-padding ng-cloak>
  <md-grid-list
      md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="2:2"
      md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="tile in catalog.tiles" ui-sref="book({ id: tile.id })">
      <img ng-src="{{ catalog.getResourceUrl(tile.cover) }}" rr-fall-back/>
      <md-grid-tile-footer>
        <h3>{{ tile.title.default }}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>