// ===========================================
// Catalog
// --------------------

img {
  display: inline-block;
}

md-grid-tile {
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
  }
}